{
  "name": "<ORG NAME>/<PROJECT NAME>",
  "description": "<PROJECT DESCRIPTION>",
  "authors": [
    {
      "name": "<YOUR NAME>",
      "email": "<YOUR EMAIL>"
    }
  ],
  "require": {
    "php": "^7"
  },
  "require-dev": {
    "phpunit/phpunit": "^6"
  },
  "autoload": {
    "psr-4": {
      "<PROJECT NAMESPACE>\\": "src"
    }
  },
  "autoload-dev": {
    "psr-4": {
      "<PROJECT TEST NAMESPACE>\\": "test"
    }
  },
  "scripts": {
    "test": "phpunit -c test"
  }
}
